<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
</head>

<body>
    <%- include('./partials/navbar') %>
    <div class="m-5">
        <% if(success) { %>
            <div class="alert alert-success" role="alert">
                <%=success %>
                <% if(linkToCopy) { %>
                    <!-- Target -->
                    <span id="urlToCopy"><%= linkToCopy %></span>

                    <!-- Trigger -->
                    <button class="btn" data-clipboard-target="#urlToCopy">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="25" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
                          </svg>
                    </button>
                <% } %>
            </div>
        <% } %>
        <% if(err) { %>
            <div class="alert alert-danger" role="alert">
                <%=err %>
            </div>
        <% } %>
        <div class="d-flex justify-content-between">
            <h2>Links</h2>
            <a href="/create-link" class="btn btn-primary mb-2">Create Link</a>
        </div>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Link Name</th>
                <th scope="col">URL</th>
                <th scope="col">Times accessed</th>
                <th scope="col">Created At</th>
                <th scope="col">Expires At</th>
              </tr>
            </thead>
            <tbody>
                <% links.rows.forEach(link => { %>
                    <tr>
                        <td><%=link.link_token%></td>
                        <td><a href="<%=link.long_url%>"><%=link.long_url%></a></td>
                        <td><%=link.access_count%></td>
                        <td><%=link.created_at%></td>
                        <td><%=link.expires_at%></td>
                    </tr>
                <% }) %>
            </tbody>
          </table>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const clipboard = new ClipboardJS('.btn');

            clipboard.on('success', (e) => {
                alert('Link copied to clipboard!');
            });

            clipboard.on('error', (err) => {
                console.error('Error occured while copying the link:', err);
            });
        });
    </script>
</body>

</html>